@page "/Login"


<h3>Login</h3>

@if(failLogin)
{
    <h1 class="text-danger">OH ! PAS BON LOGS !</h1>
}

<EditForm Model="Form" OnValidSubmit="Submit">

    <DataAnnotationsValidator></DataAnnotationsValidator>

    <label>Email</label>
    <InputText @bind-Value="Form.Email"></InputText>

    <label>Password</label>
    <InputText @bind-Value="Form.Password"></InputText>

    <ValidationSummary></ValidationSummary>

    <input type="submit" value="Valider"/>
</EditForm>


