@using LoginCorrectionBlazor.Client.Services;
@using Microsoft.AspNetCore.Components.Authorization
@inject LocalStorageService _ls
@inject NavigationManager _nvm

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LoginCorrectionBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-person" aria-hidden="true"></span> Users
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="password">
                        <span class="oi oi-person" aria-hidden="true"></span> Password
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <button @onclick="Logout">
                        Deconnecter
                    </button>
                </div>

            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Login">
                        <span class="oi oi-person" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Register">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
            

        </AuthorizeView>

        

        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public bool isConnected { get; set; } = false;

    protected override async void OnInitialized()
    {
        isConnected = await _ls.IsConnected();

        StateHasChanged();

        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await _ls.RemoveItem("token");
        _nvm.NavigateTo("", true);
    }
}
